<section class="welcome_area pad_top pad_btm">
    <div class="container">
        <div class="welcome_inner row">
            <div class="col-lg-5">
                <div class="welcome_img">
                    <img class="img-fluid" src="img/writers-at-campfire.jpg" alt="" />
                </div>
            </div>
            <div class="col-lg-6 offset-lg-1">
                <div class="welcome_text">
                    <h3>Our Festival</h3>
                    <p>
                        The Mattawa River Writers Festival celebrates the influence of nature in
                        literature with writing workshops, family eco day program, mindful hikes,
                        meditative canoeing and a book talk.
                    </p>
                    <p>Once a year, we celebrate Earth Day for as long as possible.</p>
                    <p>
                        We provide an opportunity for emerging writers to work with storytellers,
                        established authors and publishing insiders within a workshop format.
                    </p>
                    <p>
                        Additionally we deliver a family eco day program on the Saturday and an
                        evening for adults with renowned Canadian writers.
                    </p>
                    <p>
                        Stay the weekend where the opportunity for burgeoning writers can come in
                        contact with published authors in a nature setting. Hang out, play games at
                        the campfire, wolf howl and walk through the gorgeous northern forests of
                        Samuel de Champlain Park.
                    </p>
                    <p>
                        The Mattawa River is associated with indigenous history, the exploration of
                        Canada and the fur trade. Let us introduce you to the history beneath your
                        feet.
                    </p>
                    <!-- <a class="main_btn" href="#">View More Details</a> -->
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Welcome Area =================-->
