<section class="welcome_area pad_top pad_btm">
    <div class="container">
        <div class="welcome_inner row">
            <div class="col-lg-5">
                <div class="welcome_img">
                    <img class="img-fluid" src="img/useOurStory.jpg" alt="" />
                </div>
            </div>
            <div class="col-lg-6 offset-lg-1">
                <div class="welcome_text">
                    <h3>Our Story</h3>
                    <p>
                        The Canadian Ecology Centre, in the rocky landscape of the Near North, created the Mattawa River Writers Festival to celebrate Earth Day through the lens of literature. 
                    </p>
                    <p> We provide nature inspired writing workshops for emerging writers, family eco day program, mindful hikes,
                        meditative canoeing and a book talk.
                    </p>
                    <p>
                        Stay the weekend where the opportunity for burgeoning writers can come in
                        contact with published authors in a nature setting. Hang out, play games at
                        the campfire, wolf howl and walk through the gorgeous northern forests of
                        Samuel de Champlain Park.
                    </p>
                    <p>
                        The Mattawa River is associated with indigenous history, the exploration of
                        Canada and the fur trade. Let us introduce you to the history beneath your
                        feet.
                    </p>
                    <!-- <a class="main_btn" href="#">View More Details</a> -->
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Welcome Area =================-->
