<section class="home_banner_area">
  <div class="banner_inner">
    <div class="container">
      <div class="banner_content">
        <h2>Mattawa River Writers Festival</h2>
        <h2>Festival des Écrivains</h2>
      </div>
      <div class="videoWrapper">
        <iframe
          width="100%"
          src="https://www.youtube.com/embed/YCszgrb1g-U"
          frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </div>
</section>
