<section class="event_time_area">
    <div class="container">
        <div class="event_time_inner">
            <div class="row">
                <div class="col-lg-6">
                    <div class="event_text">
                        <h3>Save the Date!</h3>
                        <p>Writers in the woods from April 26 - 28</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="timer_inner">
                        <div id="timer" class="timer">
                            <div class="timer__section days">
                                <div class="timer__number"></div>
                                <div class="timer__label">days</div>
                            </div>
                            <div class="timer__section hours">
                                <div class="timer__number"></div>
                                <div class="timer__label">hours</div>
                            </div>
                            <div class="timer__section minutes">
                                <div class="timer__number"></div>
                                <div class="timer__label">Minutes</div>
                            </div>
                            <div class="timer__section seconds">
                                <div class="timer__number"></div>
                                <div class="timer__label">seconds</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
